/* Color Palette */
:root {
  --primary-color: #2D9BF0;
  --secondary-color: #EFFAFF;
  --background-color: #E6F4F1; 
  --table-row-hover-color: #7393BC;
  --table-row-even-color: #f2f2f2;
  --text-color: #333333;
  --border-color: rgb(185, 185, 185);
}

body {
  background-color: var(--background-color);
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Typography */
body, button, input, textarea {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-color);
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: normal; 
}

/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


